
.head-title {
    text-align: center;
    font-size: 18px;
    font-family: "bold";
}

.sub-title {
    text-align: center;
    font-size: 14px;
    color: gray;
}

.login-btn {
    --border-radius: 14px;
    margin-top: 50px;
}
