<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>
      <ion-label>Hi <span class="title-name">Rahul,</span> </ion-label> <br>
      <ion-label class="address">
        <ion-icon slot="start" name="location"></ion-icon> Bhavnagar 364270, Gujarat India
      </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge color="primary" mode="ios">4</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-row class="searbar">
    <ion-col size="10">
      <ion-searchbar mode="ios" placeholder="Find a salon, specialists,..." inputmode="text" type="text">
      </ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" color="dark" name="filter-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> -->

  <!-- <div class="header">
    <ion-label>Best Specialist</ion-label>
    <ion-label color="primary">View All >
    </ion-label>
  </div> -->

  <!-- <div class="sliders2">
    <div class="categoryIcon" (click)="goToBarberProfile()" *ngFor="let item of userList">
      <div class="imgs">
        <div class="back_image bg_image" [style.backgroundImage]="'url( assets/imgs/selfies.jpg )'"></div>
      </div>
      <p class="name">{{item.name}}</p>
      <p class="kind">Hair Stylist</p>
    </div>
  </div>


  <div class="header">
    <ion-label>Special Offers</ion-label>
    <ion-label color="primary">View All >
    </ion-label>
  </div> -->

  <div class="slider_div">
    <ion-slides [options]="slideOpts">

      <ion-slide *ngFor="let item of dashboard1">
        <div class="card" (click)="openSalon()">

          <div class="salon_detail_div">
            <img src="{{item.img}}" class="iconimg">
            <div class="name">
              <ion-label>&nbsp; {{item.name}}</ion-label>
            </div>
            <div class="price">
              <ion-label class="rate">{{item.number}}</ion-label>
            </div>
          </div>

        </div>
      </ion-slide>




    </ion-slides>
  </div>
  <div class="slider_div">
    <ion-slides [options]="slideOpts">

      <ion-slide *ngFor="let item of dashboard2">
        <div class="card" (click)="openSalon()">


          <div class="salon_detail_div">
            <img src="{{item.img}}" class="iconimg">
            <div class="name">
              <ion-label>&nbsp; {{item.name}}</ion-label>
            </div>
            <div class="price">
              <ion-label class="rate">{{item.number}}</ion-label>
            </div>
          </div>

        </div>
      </ion-slide>



    </ion-slides>
  </div>

  <ion-content>

    <div class="main-content">
      <div class="heading">
        Todo List
      </div>

      <ion-radio-group value="biff" mode="md">
        <ion-item class="ion-no-padding" *ngFor="let item of todoList">
          <div class="oneline">
            <h5>{{ item.name }}</h5>
            <p class="float-end">{{ item.date }}</p>
          </div>
        </ion-item>
      </ion-radio-group>
    </div>
  </ion-content>
</ion-content>