
.main_content {
    .cover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .user_image {
            width: 150px;
            height: 150px;
        }
    }
    .share-text {
        text-align: center;
        font-size: 14px;
        margin-top: 24px;
        color: gray;
    }
}
