<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="goBack()" fill="clear" mode="ios" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="edit_profile_main_content"
    *ngFor="let user of users; let i = index"
  >
    <div (click)="getImage()">
      <img class="user_image bg_image" src="{{user.profile}}" alt="" />
    </div>

    <div class="pswd">
      <ion-label class="pswd1" (click)="handleChangePassword()"> Change Password </ion-label>
    </div>

    <div class="input_box">
      <ion-label class="pswd1">Name</ion-label>
      <ion-input type="text">{{user.name}}</ion-input>
    </div>

    <div class="input_box">
      <ion-label class="pswd1">Email</ion-label>
      <ion-input type="text">{{user.email}}</ion-input>
    </div>

    <div class="input_box">
      <ion-label class="pswd1">Role</ion-label>
      <ion-input type="text">{{user.role}}</ion-input>
    </div>

    <ion-button expand="block" mode="ios" (click)="goBack()">
      Save Profile
    </ion-button>
  </div>
</ion-content>
