<ion-header>
  <ion-toolbar>
    <ion-title>Generate Ticket</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="main_content">
    <div class="row">
      <ion-card class="card_content">
        <div>
          <div class="text">
            <ion-label>Title</ion-label>
          </div>
          <ion-input placeholder="Enter title" class="border"></ion-input>
          <!-- <ion-input class="ion-no-padding" type="text"></ion-input> -->
        </div>
        <div class="t1 text">
          <ion-label>Select Employee</ion-label>
          <ion-item>
            <ion-select justify="start" label-placement="floating" fill="outline" placeholder="Select Employee">
              <ion-select-option value="1">Divyangi Soni</ion-select-option>
              <ion-select-option value="2">Kajal Agrawal</ion-select-option>
              <ion-select-option value="3">Shailesh Parmar</ion-select-option>
            </ion-select>
          </ion-item>


        </div>
        <div class="t2 text">
          <ion-label>Description</ion-label>
          <ion-textarea placeholder="Write here..." rows="10" class="border"></ion-textarea>
          <!-- <ion-input class="ion-no-padding" type="phone"></ion-input> -->
        </div>

        <ion-button shape="round">
          Submit
        </ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>