.ion-padding {
  .main-content {

    flex-direction: column;

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 70%;

      ion-card {
        padding: 20px;
        width: 85%;


        ion-label {
          color: gray;
          font-size: medium;
        }

        ion-input {
          border: 2px solid black;
          border-radius: 15px;
          padding: 7px !important;
          font-size: 18px;
          font-family: "semi-bold";
          margin: 5px 0px;
          color: darkgray;
        }

        ion-select{
          width: 80%;
        }


        .t1 {
          display: flex;
          flex-direction: column;
          display: inline-block;
          .select-icon {
            right: 10px;
          }
        }

        ion-button {
          padding-top: 10px;
          width: 100%;
          color: white;
          margin: 10px 0px;
        }

        .text-div {
          text-align: center;

          span {
            font-family: "semi-bold";
            color: var(--ion-color-primary);
          }
        }
      }
    }
  }

  .card_content {
    padding: 10px;
  }

  .text {
    margin: 10px 0px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .border {
    border: 1px solid black;
    border-radius: 10px;
  }
}